<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-4">

        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" action="/edit">
            <div class="form-group">
                <label for="id">ID</label>
                <input name="id" type="text" class="form-control" id="idInput" readonly="readonly" value="{{id}}">
            </div>

            <div class="form-group">
                <label for="fldName">City Name</label>
                <input name="fldName" type="text" class="form-control" id="fldNameInput" value="{{city.fldName}}">
            </div>

            <div class="form-group">
                <label for="fldLat">Latitude</label>
                <input name="fldLat" type="text" class="form-control" id="fldLatInput" value="{{city.fldLat}}">
            </div>

            <div class="form-group">
                <label for="fldLong">Longitude</label>
                <input name="fldLong" type="text" class="form-control" id="fldLongInput" value="{{city.fldLong}}">
            </div>

            <div class="form-group">
                <label for="fldCountry">Country</label>
                <input name="fldCountry" type="text" class="form-control" id="fldCountryInput" value="{{city.fldCountry}}">
            </div>

            <div class="form-group">
                <label for="fldAbbreviation">Country Abbreviation (3 Letters)</label>
                <input name="fldAbbreviation" type="text" class="form-control" id="fldAbbreviationInput" value="{{city.fldAbbreviation}}">
            </div>

            <div class="form-group">
                <label for="fldCapitalStatus">Capital Status</label>
                <input name="fldCapitalStatus" type="text" class="form-control" id="fldCapitalStatusInput" value="{{city.fldCapitalStatus}}">
            </div>

            <div class="form-group">
                <label for="fldPopulation">Population</label>
                <input name="fldPopulation" type="text" class="form-control" id="fldPopulationInput" value="{{city.fldPopulation}}">
            </div>

            <div class="row justify-content-md-center w-50 mx-auto" style="margin-top: 20px">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
